{:page
 {:id "qqq3lzwg9vl4",
  :name "CircleCI Test Page",
  :url "https://circlecitestpage.statuspage.io",
  :updated_at "2015-07-12T12:44:22.177-07:00"},
 :components
 [{:description nil,
   :group false,
   :page_id "qqq3lzwg9vl4",
   :only_show_if_degraded false,
   :name "API (example)",
   :group_id nil,
   :updated_at "2015-07-12T13:24:43.378Z",
   :status "operational",
   :id "s1xljcdmzjys",
   :position 1,
   :created_at "2014-04-01T20:17:13.709Z"}
  {:description nil,
   :group false,
   :page_id "qqq3lzwg9vl4",
   :only_show_if_degraded false,
   :name "Management Portal (example)",
   :group_id nil,
   :updated_at "2015-07-11T12:23:12.513Z",
   :status "operational",
   :id "zmrxhd191cnb",
   :position 2,
   :created_at "2014-04-01T20:17:13.725Z"}
  {:description "ec2 in us-east",
   :group false,
   :page_id "qqq3lzwg9vl4",
   :only_show_if_degraded false,
   :name "AWS",
   :group_id nil,
   :updated_at "2015-05-07T13:28:39.928Z",
   :status "operational",
   :id "bnp64h8z6ddx",
   :position 3,
   :created_at "2014-04-01T20:49:08.782Z"}
  {:description nil,
   :group false,
   :page_id "qqq3lzwg9vl4",
   :only_show_if_degraded false,
   :name "GitHub",
   :group_id nil,
   :updated_at "2015-07-12T19:40:04.584Z",
   :status "degraded_performance",
   :id "b8sgkmhfxs2r",
   :position 4,
   :created_at "2015-07-12T19:39:16.746Z"}
  {:description nil,
   :group false,
   :page_id "qqq3lzwg9vl4",
   :only_show_if_degraded false,
   :name "Atlassian Bitbucket Website",
   :group_id nil,
   :updated_at "2015-07-12T19:39:53.025Z",
   :status "operational",
   :id "hzpshtc6p0zf",
   :position 5,
   :created_at "2015-07-12T19:39:53.025Z"}
  {:description nil,
   :group false,
   :page_id "qqq3lzwg9vl4",
   :only_show_if_degraded false,
   :name "Atlassian Bitbucket API",
   :group_id nil,
   :updated_at "2015-07-12T19:39:53.900Z",
   :status "operational",
   :id "kk976k6mj8k4",
   :position 6,
   :created_at "2015-07-12T19:39:53.900Z"}],
 :incidents
 [{:page_id "qqq3lzwg9vl4",
   :incident_updates
   [{:status "identified",
     :body
     "GitHub has sent us all of the hooks from the last hour. We're scaling up to handle the increased load from receiving all these pushes at once, and builds are temporarily queuing while we process the backlog.",
     :created_at "2015-07-12T12:44:22.154-07:00",
     :updated_at "2015-07-12T12:44:22.154-07:00",
     :display_at "2015-07-12T12:44:22.154-07:00",
     :id "81zbqtv1s21g",
     :incident_id "04lk04fktxzj"}],
   :resolved_at nil,
   :name "GitHub outage preventing new builds",
   :shortlink "http://stspg.io/1Je9",
   :updated_at "2015-07-12T12:44:22.155-07:00",
   :status "identified",
   :id "04lk04fktxzj",
   :monitoring_at nil,
   :impact "minor",
   :created_at "2015-07-12T12:44:21.940-07:00"}],
 :scheduled_maintenances [],
 :status
 {:indicator "minor", :description "Partially Degraded Service"}}
